{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% load votainteligente_extras %}
{% load candideitorg_templetags %}
{% load filename %}

{% block title %}
{% get_name_candidate candidate LANGUAGE_CODE %} | {% trans "Avez-vous une question à lui poser?" %}
{% endblock title %}

{% block fb_og %}        
	<meta property="og:title" content="{{ 'title'|ogpdata }}">
	<meta property="og:type" content="{{ 'type'|ogpdata }}">
	<meta property="og:description" content="{% trans 'Communiquez en ligne avec vos député-es' %}">
	<meta property="og:url" content="{{url_base}}{% url 'profil_view' candidate.slug %}">
	{% if candidate.photo %}
        <meta property="og:image" content="{{ candidate.photo }}" />
        {% comment %}{% thumbnail candidate.photo "300x300" crop="center" as im %}
            <meta property="og:image" content="{{ im.url }}" />
        {% endthumbnail %}{% endcomment %}
	{% else %} 
	    <meta property="og:image" content="http://nouabook.ma/static/img/nouabook-logo.png">
	{% endif %}	       
{% endblock fb_og %}

{% block pack_lang %}
	{% include "elections/langage_html.html" with redirect_to="/profil/"|add:candidate.slug %}
{% endblock pack_lang %}

{% block content %}
{% with reached=candidate.relation.reachable %}
<div id="profile">
    <div class="banner">
        <img src="/static/img/banners/banner-{{ banniere }}.png" alt=""> {# banniere #}
    </div>
	<div class="outer-wrapper">
		<div class="inner-wrapper">
            <div class="profile-id">
                <div class="profile-picture-wrapper">
                	{% if candidate.photo %}
                        <img src="{{candidate.photo}}" alt="{{candidate.name}}" class="profile-picture medium">
                        {% comment %}{% thumbnail candidate.photo "300x300" crop="center" as im %}
                            <img src="{{ im.url }}" alt="{{candidate.name}}" class="profile-picture medium">
                         {% endthumbnail %}{% endcomment %}
                    {% else %}
                        <img src="/static/img/default-profile-picture.png" alt="{{candidate.name}}" alt="" class="profile-picture medium">
                    {% endif %}
                </div>
                <h3>{% get_name_candidate candidate LANGUAGE_CODE %}</h3>
                <div class="social">
                    {% for link in candidate.link_set.all|order_by:'name' %}
                    {% if link.url %}
                    <a href="{{link.url}}" target="_blank">
                    	<img src="/static/img/icn-social-{%if link.name == 'Website'%}link{%else%}{{link.name|lower}}{%endif%}.png" width="30" height="30" alt="">
                    </a>                    	
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="profile-wrapper">
                <div class="mp profile">
                    <div class="vertical-tabs-container">
                        <div class="vertical-tabs">
                            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab is-active" rel="tab1">{{ background_categories.0.name }}</a>
                            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab2">{{ background_categories.1.name }}</a>
                            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab3">{% trans "Informations personnelles" %}</a>
                        </div>
                        <div class="vertical-tab-content-container">
                            <div class="welcome">
                                <p>{% trans "Bonjour, je m'appelle" %} {% get_name_candidate candidate LANGUAGE_CODE %} {% trans "et je suis un-e Député-e du parti" %} <strong>{% r_candidate_background candidate background_categories.0.background_set.all.0 %}</strong>, {% trans "siègeant dans la" %} <strong>{% r_candidate_background candidate background_categories.1.background_set.all.0 %}</strong> 
                                    {% if mp_tags %}
                                    {% trans "et je réponds à vos questions sur" %}
                                    {% for tag in mp_tags %}
                                    {% trans tag.name %}{%if not forloop.last%}, {%endif%}
                                    {% endfor %}.
                                    {% endif %}
                                </p>
                            </div>
                            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active" rel="tab1">{{ background_categories.0.name }}</a>
                            <div id="tab1" class="js-vertical-tab-content vertical-tab-content">
                                {% for background in background_categories.0.background_set.all %}
                                    <p><strong>{{ background.name }} : </strong>{% r_candidate_background candidate background %}</p>
                                {% endfor %}
                            </div>

                            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab2">{{ background_categories.1.name }}</a>
                            <div id="tab2" class="js-vertical-tab-content vertical-tab-content">
                                {% for background in background_categories.1.background_set.all %}
                                    <p><strong>{{ background.name }} : </strong>{% r_candidate_background candidate background %}</p>
                                {% endfor %}
                            </div>

                            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab3">{% trans "Informations personnelles" %}</a>
                            <div id="tab3" class="js-vertical-tab-content vertical-tab-content">
                                {% if LANGUAGE_CODE == 'fr' %}
                                    {% for personal_data in personal_datas %}
                                        <p><strong>{{ personal_data.label }} : </strong>{% r_personal_data_candidate candidate personal_data %} </p>
                                    {% endfor %}
                                {% else %}
                                    {% for personal_background in personal_data_ar|slice:"1:" %}
                                        <p><strong>{{ personal_background.name }} : </strong>{% r_candidate_background candidate personal_background %}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if reached %}
                    {% if mp_tags %}
                    <div class="ask-box">
                        <span>{% trans "Posez moi une question sur" %} :</span>
                        {% for tag in mp_tags %}
                            <a href="{% url 'posez_x_tag_view' candidate.id tag.id %}">{% trans tag.name %}</a>
                        {% endfor %}
                    </div>
                    {% else  %}
                        <a href="{% url 'posez_x_view' candidate.id %}" class="button">{% trans "Posez moi une question" %}</a>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            
		</div>
	</div>
</div>
<div class="tabs" id="questions">
	<div class="outer-wrapper">
		<div class="inner-wrapper">
            <nav class="tab-controls">
                <ul>
                    <li class="active"><a href="#qa" title="{% trans 'Questions' %}">{% trans "Vos questions" %}</a> / </li>
                    <li><a href="#status" title="{% trans 'Publications et législations' %}">{% trans "Publications" %}</a></li>
                </ul>
            </nav>
			<div class="tab" id="qa">
				{% include "elections/profil_question_status.html" with messagesprofil=writeitmessages %}
			</div>
            <div class="tab" id="status">
				{% include "elections/profil_question_status.html" %}
			</div>
		</div>
	</div>
</div>
{% endwith %}
{% endblock content %}

{% block otherjs %}
<script>
	jQuery(function($){
        var tab_lien="#qa";

        $('.tab-controls').on('click', 'li > a', function(evt) {
            evt.preventDefault();
            tab_lien=$(this).attr('href');
            ajax_exec('?page=1',false);
        });
         
        //pagination
        var ajax_exec = function(queryStr, isLinkTab){
            $(tab_lien).html('<div class="thread"><p class="notice">{% trans "Chargement en cours" %} . . .</p></div>');
            if(queryStr.indexOf('depute=') == -1)
            {queryStr = queryStr + '&depute={{ candidate.id }}';}
            else if(queryStr.indexOf('&depute={{ candidate.id }}') == -1)
            {queryStr = queryStr.replace(/depute=(\w+)$/,'depute={{ candidate.id }}');}

            if(isLinkTab === false){
                queryStr 
                $.get('{% url "profil_question_ajax" %}'+queryStr+"&type="+encodeURIComponent(tab_lien), function(the_html){
                        $(tab_lien).html(the_html);
                    }).fail(function(){console.log('fail');});
            }
            else
            {   
                $.get('{% url "profil_question_ajax" %}'+queryStr, function(the_html){
                        $(tab_lien).html(the_html);
                    }).fail(function(){console.log('fail');});
            }
        };

		//Binding event
		$(document).on('click','.pagination a', function(evt){ 
			evt.preventDefault(); scroller();	
			restLien = $(this).attr('href');
			if(restLien.indexOf('type=') != -1 ) ajax_exec(restLien, true)
			else ajax_exec(restLien, false)
		}); 
			
		$(document).on('click', 'a.voter',function(evt){ evt.preventDefault();
			question_voter($(this),'{% url "votedirect" %}');						
		});
				
		$(document).on('click', 'a.rvoter',function(evt){ evt.preventDefault();
			answer_voter($(this),'{% url "votedirect" %}');						
		});
		
        //enable some action after ajax: gallery, fb like
        $(document).ajaxComplete(function( event, xhr, settings ) {
            if(settings.url.indexOf('status') !=-1){
                $(".gallery").owlCarousel({
                    items: 1,
                    itemElement: 'slide',
                    responsiveClass:true,
                    autoPlay: false,
                    loop: true
                });

                FB.XFBML.parse();
            }
        });
        

		var scroller = function(){
			$('html, body').animate({
				scrollTop: $('#questions').offset().top
			});
		};
		
		//change twitter
		var link_tweet = $('#profile .social .icn-twitter:first');
		if(link_tweet.length){
			href_tweet = link_tweet.attr('href');
			if(/^@/.test(href_tweet))
			link_tweet.attr('href', 'http://twitter.com/'+href_tweet)
		}
	});
</script>
{% endblock otherjs %}