{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% load votainteligente_extras %}
{% load filename %}

{% block fb_og %}
{% with question=votainteligentemessage %}
	<!--for facebook fans-->
	<meta property="og:type" content="article" />
	{% if LANGUAGE_CODE == 'fr' %}
	<meta property="og:locale" content="fr_FR" />
	{% else %}
	<meta property="og:locale" content="ar_AR" />
	{% endif %}
{% with answer=question.answers.all|first depute=question.people.all|first %}
	{% if reponse_diese and answer %}
	<meta property="og:title" content="{{ reponse_par}}{{depute.name}}{{ sur }}{{ question.subject }}" />
	<meta property="og:description" content="{{ answer.content|truncatewords:300 }}" />
	<meta property="og:url" content="http://nouabook.ma{% url 'message_view' question.id '-reponse' %}" />
	{% else %}
	<meta property="og:title" content="{{ question_a }}{{depute.name}}{{ sur }}{{ question.subject }}" />
	<meta property="og:description" content="{{ question.content|truncatewords:300}}" />
	<meta property="og:url" content="http://nouabook.ma{% url 'message_view' question.id %}" />
	{% endif %}
		{% if answer %}
		{% with candidate=answer.person.relation.candidate %}
			{% if candidate.photo %}
                <meta property="og:image" content="{{ candidate.photo }}" />
				{% comment %}{% thumbnail candidate.photo "300x300" crop="center" as im %}
				    <meta property="og:image" content="{{ im.url }}" />
				{% endthumbnail %}{% endcomment %}
			{% else %} 
				<meta property="og:image" content="http://nouabook.ma/static/img/logo.png" />
			{% endif %}
		{% endwith %}
		{% else %}
		{% with candidate=depute.relation.candidate %}
			{% if candidate.photo %}
                <meta property="og:image" content="{{ candidate.photo }}" />
				{% comment %}{% thumbnail candidate.photo "300x300" crop="center" as im %}
				<meta property="og:image" content="{{ im.url }}" />
				{% endthumbnail %}{% endcomment %}
			{% else %} 
				<meta property="og:image" content="http://nouabook.ma/static/img/logo.png" />
			{% endif %}
		{% endwith %}
		{% endif %}
	{% endwith %}
	<meta property="fb:app_id" content="{{ 'app_id'|fbsetting }}" />
	<!--eoff-->
	{% endwith %}
{% endblock fb_og %}

{% block pack_lang %}
	{% include "elections/langage_html.html" with redirect_to=redirection %}
{% endblock pack_lang %}

 {% block content %}
<div id="content">
	<div class="tabs" id="questions">
		<div class="outer-wrapper">
			<div class="inner-wrapper">
				<h2>{{ votainteligentemessage.subject }}</h2>
				<div class="tab" id="qa">
				{% with message=votainteligentemessage %}
					<div class="thread">
						<div class="question message">
							<div class="date">
								{% if message.moderated_at %}
								{{ message.moderated_at|date:"SHORT_DATE_FORMAT" }}
								{% else %}
								{{ message.created|date:"SHORT_DATE_FORMAT" }}
								{% endif %}
							</div>
							<div class="entry">
								<div class="profile-picture-wrapper"><img src="/static/img/default-profile-picture.png" alt="" class="profile-picture medium"></div>
								<div class="entry-inner">
									<h3>{{message.author_name}}<div class="meta">{{message.author_ville}}</div></h3>
									<p dir="auto">
										{% filter linebreaksbr %}
											{% display_content_type message.content 'question' %}
										{% endfilter %}
									</p>
								</div>
							</div>
							<div class="actions">
								{% with dept=message.people.all|first %}
								{% with phrase=question_a|add:dept.name|add:sur %}
								<ul>
									<li class="like"><span id="count_QR_{{ message.id }}" class="counter">{{ message.total_upvotes }}</span><a href="#" id="P1voter_{{ message.id }}" class="voter">{% trans "Liker cette question" %}</a></li>
									<li class="share">
			                        	<a href="">Partager</a>
			                            <ul>
											<li class="twitter"><a href="https://twitter.com/intent/tweet?url={{url_base|urlencode}}{% url 'message_view' message.id %}&amp;text={{phrase|iriencode}}{{message.subject|truncatechars:90|iriencode}}&amp;via=nouabook&amp;related=nouabook&amp;lang={{LANGUAGE_CODE}}" target="_blank">{% trans "Partager sur Twitter" %}</a></li>
											<li class="facebook"><a href="http://www.facebook.com/sharer.php?s=100&p[url]={{url_base|urlencode}}{% url 'message_view' message.id %}&p[title]={{phrase|iriencode}}{{message.subject|iriencode}}&p[summary]={{message.content|truncatewords:300|iriencode}}" target="_blank">{% trans "Partager sur Facebook" %}</a></li>
											<li class="email"><a href="mailto:?subject={{phrase|iriencode}}{{message.subject|truncatechars:30|iriencode}}&amp;body={{message.content|truncatewords:200|iriencode}}...%0D%0A{{url_base|urlencode}}{% url 'message_view' message.id %}" target="_top">{% trans "Partager par email" %}</a></li>
										</ul>
									</li>
								</ul>
								{% endwith %}{% endwith %}
							</div>
						</div>
						{% with answer=message.answers.all|first %}
						{% if answer %}
						<div class="answer message">
							<div class="date">{{ answer.created|date:"SHORT_DATE_FORMAT" }}</div>
							<div class="entry">
								{% with candidate=answer.person.relation.candidate %}
								<div class="profile-picture-wrapper">
									{% if candidate.photo %}
                                        <a href="{% url 'profil_view' candidate.slug %}">
                                            <img src="{{candidate.photo}}" alt="{{answer.person.name}}" class="profile-picture medium">
                                        </a>
                                        {% comment %}{% thumbnail candidate.photo "300x300" crop="center" as im %}
                                            <a href="{% url 'profil_view' candidate.slug %}"><img src="{{im.url}}" alt="{{answer.person.name}}" class="profile-picture medium"></a>
                                        {% endthumbnail %}{% endcomment %}
									{% else %}
									    <a href="{% url 'profil_view' candidate.slug %}"><img src="/static/img/default-profile-picture.png" alt="{{answer.person.name}}" class="profile-picture medium"></a>
									{% endif %}
								</div>
								<div class="entry-inner">
									<h3>{% get_name_candidate candidate LANGUAGE_CODE %}</h3>
									{% endwith %}
									<p dir="auto">
										{% filter linebreaksbr %}
											{% display_content_type answer.content 'reponse' %}
										{% endfilter %}
									</p>
                                    <ul class="attachments">
                                        {% for attachment in attachments %}
                                            <li>
                                                <a href="/cache/attachments/{{ attachment.file|filename }}" target="_blank"><i class="fa fa-paperclip"></i> {{ attachment.file|filename }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
								</div>
							</div>
							<div class="actions">
								{% with phrase=reponse_par|add:answer.person.name|add:sur %}
								<ul>
									<li class="like"><span class="counter" id="Rcount_QR_{{ answer.id }}">{{ answer.total_upvotes }}</span><a href="#" id="RP1voter_{{ answer.id }}" class="rvoter">{% trans "Liker cette réponse" %}</a></li>
									<li class="share">
			                        	<a href="">Partager</a>
			                            <ul>
											<li class="twitter"><a href="https://twitter.com/intent/tweet?url={{url_base|urlencode}}{% url 'message_view' message.id '-reponse' %}&amp;text={{phrase|iriencode}}{{message.subject|truncatechars:90|iriencode}}&amp;via=nouabook&amp;related=nouabook&amp;lang={{LANGUAGE_CODE}}" target="_blank">{% trans "Partager sur Twitter" %}</a></li>
											<li class="facebook"><a href="http://www.facebook.com/sharer.php?s=100&p[url]={{url_base|urlencode}}{% url 'message_view' message.id '-reponse' %}&p[title]={{phrase|iriencode}}{{message.subject|iriencode}}&p[summary]={{answer.content|truncatewords:300|iriencode}}" target="_blank">{% trans "Partager sur Facebook" %}</a></li>
											<li class="email"><a href="mailto:?subject={{phrase|iriencode}}{{message.subject|truncatechars:30|iriencode}}&amp;body={{answer.content|truncatewords:200|iriencode}}...%0D%0A{{url_base|urlencode}}{% url 'message_view' message.id '-reponse'%}" target="_top">{% trans "Partager par email" %}</a></li>
										</ul>
									</li>
								</ul>
								{% endwith %}
							</div>
						</div>
						{% else %}
						<p class="notice">{% trans "Cette question n'a pas encore reçu de réponse" %}</p>
						<div class="answer message inactive">
							<div class="entry">
							{% with person=message.people.all|first %}
							{% with candidate=person.relation.candidate %}
							<div class="profile-picture-wrapper">
								{% if candidate.photo %}
                                    <a href="{% url 'profil_view' candidate.slug %}">
                                        <img src="{{candidate.photo}}" alt="{{answer.person.name}}" class="profile-picture medium">
                                    </a>
                                    {% comment %}{% thumbnail candidate.photo "300x300" crop="center" as im %}
                                        <a href="{% url 'profil_view' candidate.slug %}"><img src="{{im.url}}" alt="{{answer.person.name}}" class="profile-picture medium"></a>
                                    {% endthumbnail %}{% endcomment %}
								{% else %}
								    <a href="{% url 'profil_view' candidate.slug %}"><img src="/static/img/default-profile-picture.png" alt="{{answer.person.name}}" class="profile-picture medium"></a>
								{% endif %}
							</div>
							<div class="entry-inner">
								<h3>{% get_name_candidate candidate LANGUAGE_CODE %}</h3>
							</div>
							{% endwith %}
							{% endwith %}
							</div>
						</div>
						{% endif %}
						{% endwith %}
					</div>
				   {% endwith %}
				</div>                        
			</div>
		</div>
	</div>
	
</div>
{% endblock content %}

{% block otherjs %}
<script>
	jQuery(function($){
		$('a.voter').on('click', function(evt){ evt.preventDefault();
			question_voter($(this),'{% url "votedirect" %}');						
		});
				
		$('a.rvoter').on('click', function(evt){ evt.preventDefault();
			answer_voter($(this),'{% url "votedirect" %}');
		});
	});
</script>
{% endblock otherjs %}

