{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Questions des citoyens aux députés | Nouabook.ma" %}{% endblock title%}

{% block pack_lang %}
	{% include "elections/langage_html.html" with redirect_to="/questions" %}
{% endblock pack_lang %} 

{% block content %}


<div class="tabs" id="questions">
	<div class="outer-wrapper">
		<div class="inner-wrapper">
			{% if message_done %}
			<div class="message success"><span>{% trans "Félicitations! Votre question a bien été enregistrée. Si celle-ci est conforme à la charte d’utilisation de Nouabook.ma, elle sera publiée aussitôt sur le site!" %}</span></div>
			{% endif %}
			<h2>{% trans "Vos questions" %}</h2>
			<nav class="tab-controls">
				<ul>
					<li class="active"><a href="#qa" title="{% trans 'Consultez les questions qui ont reçu des réponses!' %}">{% trans "Questions - réponses" %}</a> / </li>
					<li><a href="#recent" title="{% trans 'Consultez les questions qui ont récemment été publiées!' %}">{% trans "Récentes" %}</a> / </li>
					<li><a href="#popular" title="{% trans 'Consultez les questions les plus populaires sur le site!' %}">{% trans "Les plus votées" %}</a></li>
				</ul>
			</nav>
            <div class="filter">
                <div class="input_wrapper">
                    <select id="tags" name="tags">
                        <option value="#">{% trans "Choisissez un thème" %}</option>
                        {% for tag in tags %}
                            <option value="{{ tag.id }}">{% trans tag.name %}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
			<div class="tab" id="qa">
				{% include "elections/question_html.html" with the_qa=writeitmessages %}
			</div>
			<div class="tab" id="recent">
				{% include "elections/question_html.html" with recents=questions %}
			</div>
			<div class="tab" id="popular">
				{% include "elections/question_html.html" with populars=top_vote %}
			</div>
		</div>
	</div>
</div>

{% endblock content %}

{% block otherjs %}
<script>
	jQuery(function($){
		var tab_lien="#qa";
		$('.tab-controls').on('click', 'li > a', function() {
			tab_lien=$(this).attr('href');
			$(tab_lien).html('<div class="thread"><p class="notice">{% trans "Chargement en cours" %} . . .</p></div>');
			ajax_exec('?page=1',false, tag);
		});
		 
		//pagination
		var ajax_exec = function(l,t, tag){
			if(t === false){ 
				$.get('{% url "question_ajax" %}'+l+"&genre="+encodeURIComponent(tab_lien)+"&tag="+tag, function(the_html){
						$(tab_lien).html(the_html);
					}).fail(function(){console.log('fail');});
			}
			else
			{   
				$.get('{% url "question_ajax" %}'+l, function(the_html){
						$(tab_lien).html(the_html);
					}).fail(function(){console.log('fail');});
			}
		};
		
		
		//Binding event
		$(document).on('click','.pagination a', function(evt){ 
			evt.preventDefault(); scroller(); 
			$(tab_lien).html('<div class="thread"><p class="notice">{% trans "Chargement en cours" %} . . .</p></div>');					
			link=$(this).attr('href');
			if(link.indexOf('genre=') != -1) ajax_exec(link,true); 
			else ajax_exec(link,false);
		}); 
			
		$(document).on('click', 'a.voter',function(evt){ evt.preventDefault();
			question_voter($(this),'{% url "votedirect" %}');						
		});
				
		$(document).on('click', 'a.rvoter',function(evt){ evt.preventDefault();
			answer_voter($(this),'{% url "votedirect" %}');						
		});
				

		var scroller = function(){
			$('html, body').animate({
				scrollTop: $('#questions').offset().top
			});
		};
		
		{% if message_done %}
		$(window).load(function(){
			$('.success').delay(7000).slideUp();
			window.history.pushState({foo: 'bar'},"questions","{% url 'question_view' %}");
		});
		{% endif %}

        var tag = ''
        $("#tags").change(function () {
            $( "select option:selected" ).each(function() {
              tag = $( this).context.value;
                console.log(tag);
            });
            //get_questions_by_tag(str);  // AJAX function call when sector is selected
            ajax_exec('?page=1',false, tag);
        });

        function get_questions_by_tag(str){
            /* $('#id_people').html('');  // Use to empty the select
             $("#id_people").trigger("chosen:updated");*/
           // console.log($('#id_people').html());
            $.ajax({
                type: "GET",
                url: "/ajax_questions_tag",
                data: { tag_id : str },
                datatype: 'json',
                success: function(result) {
                    if (result) { console.log(result);
                        // I usually receive a list of items here
                        // I use this list to replace the dependant select

                        $('#id_people').find('option').remove().end();  // Use to empty the select

                        // Now we append the industry options we've received
                        for(var i=0;i < result.item_list.length;i++){
                            $('#id_people').append($('<option>', {
                                value: result.item_list[i]['id'],
                                text: result.item_list[i]['name']
                        }));
                        }
                        $("#id_people").trigger("chosen:updated");

                    } else {
                        console.log('error');
                    }
                }
            });
        }
	});
	
	
</script>
{% endblock otherjs %}