{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{{ flatpage.title }}{% endblock title %}

{% block othercss %}
<style>
	[id="page"] .partner-list li img{width:8em !important;}
</style>
{% endblock othercss %}

{% block pack_lang %}
	{% include "flatpages/langage_static_html.html" with redirect_to=flatpage.url %}
{% endblock pack_lang %}


{% block content %}
<div id="page">
	<div class="main full">
		{{ flatpage.content }}
	</div>
</div>
{% endblock content %}         